<ion-header>
  <ion-navbar>
    <ion-title>
      设置
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>用户</ion-list-header>
        <ion-item *ngIf="accountService.user">
            <ion-icon name="contact" item-left></ion-icon>
            <h2>{{accountService.user.name}}</h2>
            <p>{{accountService.user.phone}}</p>
        </ion-item>
        <button *ngIf="accountService.user" ion-item (click)="accountService.logout()">
            退出登录
            <ion-icon name="log-out" item-right=""></ion-icon>
        </button>
        <ion-item *ngIf="!accountService.user">
            <ion-icon name="contact" item-left></ion-icon>
            未登录
        </ion-item>
        <button *ngIf="!accountService.user" ion-item (click)="showLoginModal()">
            登录
            <ion-icon name="log-in" item-right></ion-icon>
        </button>
    </ion-list>
    <ion-list>
        <ion-list-header>数据</ion-list-header>
        <button ion-item>
            <ion-icon name="ios-cloud-outline" item-left></ion-icon>
            <h2>同步学习数据</h2>
            <p>上次同步：12月23日 21:45</p>
        </button>
    </ion-list>
    <ion-list>
        <ion-list-header>设置</ion-list-header>
        <ion-item>
            <ion-range [(ngModel)]="settingService.settings.scale" (ionChange)="scaleChange()" min="1" max="5" step="1" snaps="true" color="primary">
                <ion-label range-left>缩放：&nbsp;&nbsp;&nbsp;小</ion-label>
                <ion-label range-right>大</ion-label>
            </ion-range>
        </ion-item>
    </ion-list>
</ion-content>
