// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item-select .label-md{
    color: #000;
}

.header.header-md::after{
    display: none;
}

.theme-night{
    $color-dark: #2c3340;
    .scroll-content,.item,.list,.tabbar,.toolbar-background,#baffle{
        background: $color-dark;
    }
    .label,.icon,span,.toolbar-title,a,h1,h2,h3,h4,h5,ion-select{
        color: #dfdfdf;
    }
    button[color=light] span{
        color: #000;
    }
    button[outline][color=dark]{
        border-color: #dfdfdf;
    }
    color:#eeeeee;
}
