<ion-header>
  <ion-navbar>
    <ion-title>
      复习
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            复习进度
        </ion-card-header>
        <ion-card-content *ngIf="wordService.wordsReviewing?.length>0">
            <p>今日已复习<span style="float: right;">{{wordService.wordsReviewing | wordsDoneCount}}</span></p>
            <p>今日需复习<span style="float: right;">{{wordService.wordsReviewing?.length}}</span></p>
        </ion-card-content>
        <ion-card-content *ngIf="wordService.wordsReviewing?.length==0">
            <p>今日无需复习</p>
        </ion-card-content>
        <ion-item *ngIf="wordService.wordsReviewing?.length>0">
            <!--<button ion-button clear item-left>Like</button>-->
            <p item-right *ngIf="wordService.wordsReviewing | wordsAllDone">
                <ion-icon name="checkmark-circle"></ion-icon>
                已全部完成
            </p>
            <button *ngIf="(wordService.wordsReviewing | wordsAllDone) == false" (click)="startReview()" ion-button item-right outline>开始复习</button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-header>明日预计</ion-card-header>
        <ion-card-content>
            <p>预计明天需要复习<span style="float: right;">{{wordService.wordRecords | tomorrowReviewPipe}}</span></p>
        </ion-card-content>
    </ion-card>
</ion-content>
