<ion-header>
  <ion-navbar>
    <ion-title>
      复习
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="studySvc.wordsReviewing?.length>0">
    <ion-list-header>复习进度</ion-list-header>
    <ion-item>
      今日已复习<span item-right>{{studySvc.wordsReviewing | wordsDoneCount}}</span>
    </ion-item>
    <ion-item>
      今日需复习<span item-right>{{studySvc.wordsReviewing?.length}}</span>
    </ion-item>
    <ion-item *ngIf="studySvc.wordsReviewing | wordsAllDone">
      <b>已全部完成</b>
      <ion-icon item-right name="checkmark-circle"></ion-icon>
    </ion-item>
    <ion-item *ngIf="(studySvc.wordsReviewing | wordsAllDone) == false" (click)="startReview()">
      <b>开始复习</b>
      <ion-icon showWhen="android" item-right name="ios-arrow-round-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="studySvc.wordsReviewing?.length==0">
    <ion-list-header>复习进度</ion-list-header>
    <ion-item>
      今日无需复习
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>明日预计</ion-list-header>
    <ion-item>
      预计明天需要复习<span item-right>{{studySvc.wordRecords | tomorrowReviewPipe}}</span>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>数据统计</ion-list-header>
    <ion-item (click)="goWarehouse()">查看全部已学单词</ion-item>
    <ion-item (click)="goStatistic()">查看统计图表</ion-item>
  </ion-list>


</ion-content>
