<ion-header>
    <ion-navbar>
        <ion-title>
            记忆<span *ngIf="type=='learn'"> - {{wordsImpulsing | impulsePercent}}</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showActionSheet()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>
        <a (click)="playSound()">{{currentWord?.word}}</a>
        <progress-icon *ngIf="type=='review'&&currentWord" [percent]="wordService.wordRecords[currentWord?.word]?.proficiency/8" style="margin-left: 5px"></progress-icon>
        <ion-badge mode="md" *ngIf="wordService.wordTags[currentWord.word]!=null && wordService.wordTags[currentWord.word]?.indexOf('d')>=0">释义</ion-badge>
        <ion-badge mode="md" *ngIf="wordService.wordTags[currentWord.word]!=null && wordService.wordTags[currentWord.word]?.indexOf('p')>=0">发音</ion-badge>
        <ion-badge mode="md" *ngIf="wordService.wordTags[currentWord.word]!=null && wordService.wordTags[currentWord.word]?.indexOf('s')>=0">拼写</ion-badge>
    </h1>
    <span style="position: absolute;top: 20px;right: 10px;">
        <ion-icon *ngIf="entry?.level>0" name="star" style="color: #f3c715;"></ion-icon>
        <ion-icon *ngIf="entry?.level>1" name="star" style="color: #f3c715;"></ion-icon>
        <ion-icon *ngIf="entry?.level>2" name="star" style="color: #f3c715;"></ion-icon>
        <ion-icon *ngIf="entry?.level>3" name="star" style="color: #f3c715;"></ion-icon>
        <ion-icon *ngIf="entry?.level>4" name="star" style="color: #f3c715;"></ion-icon>
    </span>
    <a (click)="hideBaffle()" id="baffle" [hidden]="!baffleShowing">
        <p style="text-align: center;margin-top: 50%">点击屏幕查看释义</p>
    </a>

    <div id="phonetic">
        <span style="vertical-align: middle;"><a (click)="playSound()" style="color: inherit;">{{entry?.phonetic.US.symbol}}</a></span>
        <button (click)="playSound()" ion-button icon-only clear small style="vertical-align: middle;">
            <ion-icon name="md-volume-up"></ion-icon>
        </button>
        <div *ngIf="settingService.settings.soundSource=='youdao'">
            <audio [id]="'sound-'+currentWord?.word" [src]="'http://dict.youdao.com/dictvoice?audio='+currentWord?.word+'&type='+(settingService.settings.sound.accent=='US'?'2':'1')" style="display: none;"></audio>
        </div>
        <div *ngIf="settingService.settings.soundSource=='haici'">
            <audio [id]="'sound-'+currentWord?.word" [src]="'http://audio.dict.cn/'+(settingService.settings.sound.accent=='US'?(settingService.settings.sound.gender=='male'?entry?.phonetic.US.sound.male:entry?.phonetic.US.sound.female):(settingService.settings.sound.gender=='male'?entry?.phonetic.UK.sound.male:entry?.phonetic.UK.sound.female))" style="display: none;"></audio>
        </div>


    </div>

    <ion-slides pager>

        <ion-slide>
            <h5><ion-icon name="md-text"></ion-icon> 释义</h5>
            <p>
                <span *ngFor="let definition of entry?.definitions; ">
                    <span style="color: gray;">{{definition.type}}</span> {{definition.text}}<br>
                </span>
            </p>
            <h5><ion-icon name="md-chatbubbles"></ion-icon> 例句</h5>
            <p style="border-left: 5px solid #adadad;padding-left: 5px">
                <span *ngFor="let sentence of entry?.sentences; let i=index;" style="display: block;margin-bottom: 5px;">
                    <a (click)="unstarSentence(i)" *ngIf="wordService.starredSentences[currentWord.word]!=null && wordService.starredSentences[currentWord.word]?.indexOf(i)>=0" [innerHTML]="sentence" style="color: inherit;display: block;"></a>
                </span>
            </p>
            <p>
                <span *ngFor="let sentence of entry?.sentences; let i=index;" style="display: block;margin-bottom: 5px;">
                    <a (click)="starSentence(i)" *ngIf="wordService.starredSentences[currentWord.word]==null || wordService.starredSentences[currentWord.word]?.indexOf(i)<0" [innerHTML]="sentence" style="color: inherit;display: block;"></a>
                </span>
            </p>

        </ion-slide>

        <ion-slide>
            <h5><ion-icon name="pricetags"></ion-icon> 标记</h5>
            <ion-row>
                <ion-col><button (click)="toggleTag('d')" ion-button [outline]="wordService.wordTags[this.currentWord.word]==null || wordService.wordTags[this.currentWord.word]?.indexOf('d')==-1" block color="dark">释义</button></ion-col>
                <ion-col><button (click)="toggleTag('p')" ion-button [outline]="wordService.wordTags[this.currentWord.word]==null || wordService.wordTags[this.currentWord.word]?.indexOf('p')==-1" outline block color="dark">发音</button></ion-col>
                <ion-col><button (click)="toggleTag('s')" ion-button [outline]="wordService.wordTags[this.currentWord.word]==null || wordService.wordTags[this.currentWord.word]?.indexOf('s')==-1" outline block color="dark">拼写</button></ion-col>
            </ion-row>
            <h5><ion-icon name="ios-pulse"></ion-icon> 意频</h5>
            <div>
                <span *ngFor="let rate of entry?.definition_rates | definitionRate" style="display: block;margin-bottom: 5px;">
                    {{rate.sense}} : {{rate.percent}}%
                </span>
            </div>
            <h5><ion-icon name="md-bookmarks"></ion-icon> 更多词典</h5>
            <ion-row>
                <ion-col><button (click)="openDictionary('youdao')" ion-button outline block color="dark">有道</button></ion-col>
                <ion-col><button (click)="openDictionary('ciba')" ion-button outline block color="dark">词霸</button></ion-col>
                <ion-col><button (click)="openDictionary('bing')" ion-button outline block color="dark">必应</button></ion-col>
            </ion-row>
        </ion-slide>

    </ion-slides>

    <ion-row>
        <ion-col><button (click)="clickKnow()" ion-button color="default" block>认识</button></ion-col>
        <ion-col><button (click)="clickVague()" ion-button color="light" block>模糊</button></ion-col>
        <ion-col><button (click)="clickForget()" ion-button color="danger" block>{{(type=='learn'&&currentWord.dirty==0)?'不认识':'忘记'}}</button></ion-col>
    </ion-row>
    <p>
    </p>
</ion-content>
