page-impulse {
    em.hot{
        color: #6e7be7;
        font-weight: bold;
    }
    h1{
        margin-bottom: 0;
        a{
            color: #000;
        }
    }
    #phonetic{
        margin-top: -5px;
        //cursor:pointer;
    }
    #baffle{
        background: #ffffff;
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: calc(100% - 46px);
        top: 46px;
        left: 0;
        //cursor:pointer;
    }
    .scroll-content{
        overflow-y: hidden;
    }
    .swiper-wrapper{
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    ion-slides{
        height: calc(100% - 110px)!important;
    }
    ion-slide{
        margin-top: 5px;
        justify-content:flex-start!important;
        text-align: left!important;
        font-size: 1.4rem!important;
        .slide-zoom{
            text-align: left;
            height: 100%;
            overflow-y: scroll;
        }
        h5{
            line-height:1.6em;
            margin-bottom: 2px;
        }
        p{
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
}
