page-impulse {
    #progress-bar{
        $progress-bar-height: 6px;
        position: fixed;
        bottom:30vh;
        width:70vw;
        left: 15vw;
        transition: bottom 300ms ease, width 300ms ease, left 300ms ease;
        height: $progress-bar-height;
        background-color: #e0e0e0;
        z-index: 100;
        #current-progress{
            height: $progress-bar-height;
            background-color: $hot-color;
            transition: width 300ms ease;
        }
    }
    #progress-bar.squeezed{
        bottom: 0;
        left: 0;
        width: 100%;
    }

    impulse-card{
        position: absolute;
        top:65px;
        transition: left 300ms ease;
    }
    impulse-card.last{
        left: -100%;
    }
    impulse-card.current{
        left: 0;
    }
    impulse-card.next{
        left: 100%;
    }

    .action-button-group{
        z-index: 10;
        position: fixed;
        left:0;
        bottom:40vh;
        transition: bottom 300ms ease;
        width:100%;
        padding:0 20px;
        button{
            display: inline-block;
            box-shadow: 0 0 10px 3px rgba(215, 215, 215, 0.92);
        }
    }
    .action-button-group.squeezed{
        bottom:25px;
    }

    //#baffle{
    //    background: #ffffff;
    //    display: block;
    //    position: absolute;
    //    z-index: 10;
    //    width: 100%;
    //    height: calc(100% - 46px);
    //    top: 46px;
    //    left: 0;
    //    //cursor:pointer;
    //}

    .toolbar-background{
        display: none;
    }

    ion-header::after{
        display: none;
    }



}
